<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Registration Page</title>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="plugins/fontawesome-free/css/all.min.css">
  <!-- icheck bootstrap -->
  <link rel="stylesheet" href="plugins/icheck-bootstrap/icheck-bootstrap.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="admin/css/adminlte.min.css">
</head>
<nav class="main-header navbar">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-3">
              <div class="col-sm-8">
                  <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item"><a href="/">Index</a></li>
                  </ol>
              </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
</nav>
<body class="hold-transition login-page">
  <div class="login-box">
    
  {% block body %} {% endblock %}
    
  </div>
  <!-- /.login->register-box -->

<!-- jQuery -->
<script src="plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="admin/js/adminlte.min.js"></script>
</body>
</html>
